
h1 
{
	font-family: "Garamond";
	font-size: 25pt;
	color:red;
	text-align: center;
}


p
{
	font-family: "Arial";
	font-size:20pt;
	color:blue;
	text-align: center;
}
body
{
	
	text-align: center;
       background-color:#ff884d;

}
title
{
	color:yellow;
}